<section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered" style="padding-bottom: 20%;">
        <div class="column is-6 is-offset-3">
          <!-- <h1
            class="title"
            style="font-weight:bolder; font-size:100px; font-family: 'Source Sans Pro', sans-serif;"
          >
            TOLL BLOCKS
          </h1> -->
          <figure>
            <img src="../../../assets/img/dark_logo.png">
          </figure>
          <hr
            style="border: none; height:3px; color:#333; background-color:#333;"
          />
          <h2
            class="subtitle"
            style="font-family: 'Source Code Pro', monospace; font-weight:300; "
          >
            A ethereum based toll collection and road contract management system,
            intended to provide complete transparency and decentralized power.
          </h2>
          <hr
            style="border: none; height:3px; color:#333; background-color:#333;"
          />
          <a
            class="button is-link is-large"
            routerLink="/login"
            style="border-radius: 20%;"
            ><i class="fas fa-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </section>