<nav class="navbar" role="navigation" aria-label="main navigation" *ngIf="authService.uid | async as uid;">
    <!-- <div class="navbar-brand">
      <a class="navbar-item logo" href="https://bulma.io" style="padding: 1rem;">
        <img
          src="./dark_logo.png"
          width="200"
          height="200"
          
        />
      </a>

      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div> -->
    <div class="navbar-brand">
      <img src="../../../assets/img/dark_logo.png" width="120" height="20" />
      <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" (click)="router.navigateByUrl('dash')">
          Home
        </a>

        <a class="navbar-item">
          Documentation
        </a>
        <a class="navbar-item">
          About
        </a>
        <!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider" />
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div> -->
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          
            <a class="button is-primary" (click)="logOut()">
              <strong>Log Out</strong>
            </a>

          
        </div>
      </div>
    </div>
  </nav>
  <script>
 
  </script>